.locationEntry-content {
    display: flex;
    width: 100%;
    padding: 10px;
}

.locationEntry-static{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.locationEntry-editing{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.locationEntry-info {
    flex: 1;
    display: inline-grid;
    grid-template-columns: max-content 1fr minmax(max-content, 60px);
    align-items: center;
    gap: 13px;
}

.locationEntry-info-editing {
    flex: 1;
    display: inline-grid;
    grid-template-columns: max-content 1fr minmax(max-content, 60px);
    align-items: center;
    gap: 5px;
}

.locationEntry-info div:nth-child(2) {
    color: black;
    font-size: 16px;
    font-weight:bold;
}

.locationEntry-info div:nth-child(5) {
    color: rgb(57, 57, 57);
    font-size: 16px;
}

.locationEntry-info div:nth-child(6) {
    color: rgb(57, 57, 57);
    font-size: 16px;
}

.locationEntry-info div:nth-child(8) {
    color: rgb(57, 57, 57);
    font-size: 16px;
}

.locationEntry-info div:nth-child(6) {
    display: flex;
    justify-content: flex-end;
}

.locationEntry-edit{
    display: flex;
    width: 30px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.locationEntry-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 5px;
    align-items: center; /* Sorgt für vertikale Ausrichtung */
}
.delete-icon {
    margin-left: auto; /* Schiebt das Icon nach rechts */
}