.locationEntry-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    padding: 10px;
}

.locationEntry-info {
    flex: 1;
    display: inline-grid;
    grid-template-columns: 30px auto auto;
}

.locationEntry-edit{
    display: flex;
    width: 20px;
    background-color: aqua;
}