.locationEntry-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 10px;
}

.locationEntry-title{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.locationEntry-prefix{
    font-size: 15px;
    color: rgb(72, 72, 72);
}

.locationEntry-address{
    font-size: 15px;
    color: rgb(72, 72, 72);
}