.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.location-list {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto; /* Beibehaltung der Scrollbarkeit */
    padding-bottom: 20px;

    /* Scrollbar ausblenden für Webkit-Browser */
    scrollbar-width: none; /* Für Firefox */
    -ms-overflow-style: none; /* Für Internet Explorer & Edge */
}

.location-list::-webkit-scrollbar {
    display: none; /* Für Chrome, Safari und Edge */
}

.location-list > div:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.location-list > div:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.create-location-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.create-location-button::before {
    content: "";
    position: absolute;
    top: -60px; /* Höhe des Fades */
    left: 0;
    width: 100%;
    height: 60px; /* Höhe des Fade-Effekts */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.847));
    pointer-events: none; /* Klicks gehen durch */
}

.create-location-form{
    display: flex;
    width: 100%;
}